# Dependencies
node_modules

# Environment variables
.env

# Logs
logs
*.log

# Runtime data
dist
tmp
*.tmp

# Database
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Build artifacts
*.js
*.d.ts
*.map